*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  /* margin: 10px; */
}
.first, .second, .third {
  height: 100vh;

}
.first {
  background-color:#1d1d1d;
  color: #999;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second {
  background-color:#142850;
  color: #fcd1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 500px;
  padding: 50px;
}
.third {
  /* background-color:#272343; */
}

section {
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section h1 {
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  font-size: 2em;
  font-weight: 400;
  width: 900px;
  text-align: center;
}
h1, h2, h3 {
  font-family: "Signika Negative", sans-serif;
  margin: 10px 0 10px 0;
  color: #f3f2ef;
  font-weight: 400;
}

h1 { 
  font-size:42px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:22px;
}

p{
  line-height:22px;
  margin-bottom:16px;  
}

a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#demo {
  height:100%;
  position:relative;
}
.box {
  width:150px;
  height:150px;
  position:relative;
  border-radius:6px;
  display: block;
  color:#333;
  /* margin: 9px; */
}

.box__title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.green{
  background-color: #142850;
  color: #fcd1d1;
}

.orange {
  background-color:#27496d;
  color: #FBFFFE;
}
.grey {
  background-color:#0c7b93;
}


